@import 'tailwindcss';

@import "./admin.css";
@import "./badge.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary-50: oklch(97.7% 0.013 236.62);
    --color-primary-100: oklch(95.1% 0.026 236.824);
    --color-primary-200: oklch(90.1% 0.058 230.902);
    --color-primary-300: oklch(82.8% 0.111 230.318);
    --color-primary-400: oklch(74.6% 0.16 232.661);
    --color-primary-500: oklch(68.5% 0.169 237.323);
    --color-primary-600: oklch(58.8% 0.158 241.966);
    --color-primary-700: oklch(50% 0.134 242.749);
    --color-primary-800: oklch(44.3% 0.11 240.79);
    --color-primary-900: oklch(39.1% 0.09 240.876);
    --color-primary-950: oklch(29.3% 0.066 243.157);
}

@layer base {
    * {
        font-family: 'IBM Plex Sans', sans-serif;
    }
    button {
        @apply cursor-pointer;
    }
}
